.PokedexPage {
	margin-top: 30px;
	margin-bottom: 30px;
}

.PokemonCards {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.ToggleButtons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ToggleButtons > h6 {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 6px;
}

.ToggleButtons > button {
	margin: 6px;
}