.HomePage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('https://i.imgur.com/FfKspOG.png');
	background-size: cover;
}

.HomePage-logo {
	animation: HomePage-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

@keyframes HomePage-logo-spin {
	from {
	    transform: rotate(0deg);
	}
	to {
	    transform: rotate(360deg);
	}
}